@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    min-height: 100vh;
    background-image: linear-gradient(mistyrose, pink), url(img/rzzl-bg.gif);
    background-blend-mode: screen;
    padding: 2rem;
    line-height: 0.8;
    font-size: 0.8rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 1.4rem;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    justify-content: center;
}

.day {
    background: mistyrose;
    display: flex;
    padding: .4rem;
    position: relative;
    border: 1px solid #1c1c1c;
    span {
        color: whitesmoke;
        font-size: 0.6rem;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        background: #1c1c1c;
        padding: 3px;
        border-radius: 100%;

    }
}

.kev {
    background: aqua;
    width: 100%;
    height: 100%;
    padding: 0.4rem;

    &::before {
        content: 'Kevin Powells\' Conquering Responsive Design';
        display: none;
    }

    &:hover {
        &::before {
            display: inline;
        }
    }
}

.wes-grid {
    background: #ffc601;
    width: 100%;
    height: 100%;
    padding: 0.4rem;

    &::before {    
        content: 'Wes Bos\' CSS Grid';
        display: none;
    }

    &:hover {
        &::before {
            display: inline;
        }
    }
}

.wes-js {
    background: purple;
    width: 100%;
    height: 100%;
    padding: 0.4rem;

    &::before {
        color: mistyrose;
        content: 'Wes Bos\' Beginner JS';
        display: none;
    }

    &:hover {
        &::before {
            display: inline;
        }
    }
}

.project {
    background: #1c1c1c;
    width: 100%;
    height: 100%;
    padding: 0.4rem;

    &::before {    
        color: whitesmoke;
        content: 'Project Build';
        display: none;
    }

    &:hover {
        &::before {
            display: inline;
        }
    }
}

.day100 {
    background: greenyellow;
    width: 100%;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;

    a {
        display: inline;
        border-bottom: 4px solid rgba(0,0,0,0);
        transition: border 300ms;
    
        &:hover {
            border-bottom: 4px solid #1c1c1c;
        }
    }
}

@media (max-width: 600px) {
    body {
        padding: 0.4rem;
    }
}